
@media only screen and (max-width: 812px) {
    header nav {
        top: -200px;
        //position: absolute;
    }
    footer nav{
        bottom: 0;
    }
    .final_section{
        height: 60px;
    }
}